* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a4a4a; }

html {
  height: 100%; }
  html body {
    height: 100%;
    margin: 0; }
    html body #__next {
      height: 100%; }

nav {
  padding: 50px;
  display: flex;
  justify-content: flex-end; }
  nav a {
    text-decoration: none;
    padding: 0 20px; }
    nav a + .seperator {
      color: #dddddd; }

#page {
  display: flex;
  flex-direction: column;
  width: 100%; }

main {
  align-self: center;
  width: 60%; }

