@import url(https://fonts.googleapis.com/css?family=Merienda:700,400);
*{
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	 background: linear-gradient(#0023FF 10%,rgba(187, 187, 255, 0.72) 80%,white);
		overflow-x: hidden;
		overflow-y: auto;
}
div#section-one, div#section-two, div#section-three{
	position: relative;
	height: 100%;
	width: 100%;
	-webkit-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*start - section one styles*/
div.cloud:first-child{
	//transform: translate("20px","50px");
	top: 200px;
	left: 20px;
	transform: scale(0.8,0.8);
}
div.cloud:nth-child(2){
	//transform: translate("20px","250px");
	top: 300px;
	left: 520px;
	transform: scale(0.8,0.8);
	background: #E6F5FE;
}
div.cloud:nth-child(3){
	//transform: translate("20px","50px");
	top: 150px;
	left: 800px;
	//transform: scale(0.5,0.5);
}

div.cloud:nth-child(2):before,div.cloud:nth-child(2):after{
	background: #E6F5FE;
	z-index: -3;
}
div.cloud:nth-child(1):before,div.cloud:nth-child(1):after{
	background: #E6F5FE;
}



div.cloud{
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	height: 120px;
	width: 350px;
	border-radius: 100px;
	position: absolute;
	display: inline-block;
}
div.cloud:before,div.cloud:after{
	background: #f2f9fe;
	z-index:-1;
    content: '';
    position: absolute;
}
div.cloud:before{
    height: 100px;
    width: 100px;
    top: -60px;
    left: 50px;
    border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
div.cloud:after{
    height: 180px;
    width: 180px;
    top: -105px;
    right: 50px;
    border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}
#boat {
    left: -6px;
    height: 20px;
    width: 60px;
    background: linear-gradient(brown, #841e1e);
    margin-left: 60px;
    position: absolute;
    bottom: 195px;
    transform: scale(0.8,0.8);
}

#boat:before {
  height: 20px;
  width: 20px;
  background: linear-gradient(brown, #841e1e);
  position: absolute;
  left: -20px;
  content: '';
  border-radius: 0px 0px 0px 100px;
}
#boat:after {
  height: 20px;
  width: 20px;
  background: linear-gradient(brown, #841e1e);
  position: absolute;
  right: -20px;
  content: '';
  border-radius: 0px 0px 100px 0px;
}
#boat #mast {
  height: 50px;
  width: 2px;
  position: absolute;
  top: -50px;
  right: 0;
  background: red;
}
#boat #mast:before {
  height: 20px;
  width: 20px;
  background: green;
  position: absolute;
  left: -20px;
  content: '';
  border-radius: 0px 0px 0px 100px;
  animation: waveFlag 2s infinite;
}
@keyframes waveFlag {
  0% {
    width: 20px;
  }
  50% {
    width: 25px;
    left: -25px;
  }
  100% {
    width: 20px;
  }
}

#sun{
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	left: 200px;
	top: 50px;
	background: linear-gradient(orange,tomato);
	box-shadow: 0px 0px 30px 6px orange;
	z-index:-3;
}
footer{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.65),black);
	color: white;
    line-height: 40px;
    padding: 0 10px;
}
.sky{
	display: inline-block;
	background: white;
	width: 16.66%;
	height: 50px;
	position: relative;
	top: 0; 
}
.sky:before,.sky:after{
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
}
.sky:before{
	height: 100px;
	width: 100px;
	background: white;
	content:'';
	border-radius: 100px;
	position: absolute;
	bottom: -50px;
	left: -50px;
	z-index: -1;
}
.sky:after{
	height: 250px;
    width: 250px;
    background: white;
    content: '';
    border-radius: 200px;
    position: absolute;
    bottom: -65px;
    right: -42px;
    z-index: -1;
}
.sky:nth-child(2):before{
	height: 100px;
	width: 100px;
	background: white;
	content:'';
	border-radius: 100px;
	position: absolute;
	bottom: -50px;
	left: -25px;
	z-index: -1;
}
.sky:nth-child(2):after{
	height: 250px;
    width: 250px;
    background: white;
    content: '';
    border-radius: 200px;
    position: absolute;
    bottom: -85px;
    right: -15px;
    z-index: -1;
}
#grass{
	position: absolute;
	bottom: 40px;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(55, 150, 0)), color-stop(0.50, rgb(121, 255, 60)));
	z-index:-2;
	width: 100%;
	height: 100px;
}


div#ocean{
	position: absolute;
	width: 100%;
	height: 200px;
	background: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(0,50,150)),
	  color-stop(0.50, rgb(0,150,255))
  );
  background: -moz-linear-gradient(
    45deg,
	  rgb(0,50,150),
	  rgb(0,150,255)
  );
   background: linear-gradient(
    45deg,
	  color-stop(0, rgb(0,50,150)),
	  color-stop(0.50, rgb(0,150,255))
  );
	bottom: 0;
	left: 0;
}
.wave{
  background:#C9CAFF;
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
  z-index:-1;
}


@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}
/*end - section one styles*/

#section-two #container{
	font-family: Merienda, Arial, Helvetica, sans-serif;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}
#section-two #container .snapshot{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: inherit;
	padding: 50px;
}
#section-two #container .snapshot .inner-snap{
	width: 75%;
	height: 75%;
}
#section-two #container .snapshot img{
		border: 8px solid rgba(255,255,255,0.8);
    border-radius: 20px;
}
#section-two #container .snapshot img.image-one{
	width: 100%;
	transform: rotate(-10deg);
}
#section-two #container .snapshot img.image-two{
	width: 100%;
	transform: rotate(10deg);
	position: relative;
	top: -70px;
}
#section-two #container .project-description{
	position: relative;
	width: 50%;
	float: right;
	box-sizing: inherit;
	background: rgba(255,255,255,0.4);
	border: 5px solid rgba(0,0,0,0.4);
	padding: 50px;
	line-height: 3em;
	border-radius: 20px;
}

/*connect me css*/
div#section-three{
	background: #ffffff;
}
div#section-three img{
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}
div#section-three #links{
	margin-top: 100px;
}
div#section-three #links a +  a{
	margin-left: 100px;
}
div#section-three img:hover{
	transform: scale(0.8,0.8);
}
div#section-three .content{
	height: 100%;
	width: 100%;
	padding: 50px;
	text-align: center;
	box-sizing: border-box;
	font-family: Merienda, Arial, Helvetica, sans-serif;
}
#testingFrame{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
}
.teatingGround{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#closeFrame{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2;
	
}