* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a4a4a; }

html {
  height: 100%; }
  html body {
    height: 100%;
    margin: 0; }
    html body #__next {
      height: 100%; }

.mobile-nav {
  font-size: 3rem; }
  .mobile-nav .hamburger-icon {
    padding: 5px; }
  .mobile-nav nav {
    background-color: #5855ff;
    display: block;
    height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    transition: transform 0.3s cubic-bezier(0.33, 0.65, 0.81, 0.7);
    width: 100vw; }
    .mobile-nav nav.menu-closed {
      transform: translateX(-100%); }
    .mobile-nav nav .close-menu {
      text-align: right; }
      .mobile-nav nav .close-menu button {
        color: white;
        font-size: 3rem; }
    .mobile-nav nav a {
      color: white;
      display: block;
      margin: 0 20px;
      font-size: 1.5rem;
      line-height: 3; }
      .mobile-nav nav a + a {
        border-top: 1px solid white; }

nav {
  padding: 50px;
  display: flex;
  justify-content: flex-end; }
  nav a {
    text-decoration: none;
    padding: 0 20px; }
    nav a + .seperator {
      color: #dddddd; }

#homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; }
  #homepage #banner {
    height: 50%;
    width: 100%; }
    #homepage #banner header {
      padding: 0 50px; }
      #homepage #banner header h1 {
        font-size: 3rem;
        font-weight: normal; }
  #homepage #styling {
    background: url(/star-background.png);
    height: 50%;
    width: 100%; }
    #homepage #styling svg {
      height: 100%; }

#page {
  display: flex;
  flex-direction: column;
  width: 100%; }

main {
  align-self: center;
  width: 60%; }

@media only screen and (max-device-width: 480px) {
  main {
    width: 80%; } }

.list-item {
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 5px 30px; }
  .list-item:hover {
    box-shadow: 0px 0px 15px 0px #cdcdcd; }

