.mobile-nav {
	font-size: 3rem;
	.hamburger-icon {
		padding: 5px;
	}
	nav {
		background-color: rgb(88, 85, 255);
		display: block;
		height: 100vh;
		padding: 0;
		position: fixed;
		top: 0;
		transition: transform .3s cubic-bezier(.33,.65,.81,.7);
		width: 100vw;
		&.menu-closed {
			transform: translateX(-100%);
		}
		.close-menu {
			text-align: right;
			button {
				color: white;
				font-size: 3rem;
				background: transparent;
				padding: 7px;
				border: none;
			}
		}
		a {
			color: white;
			display: block;
			margin: 0 20px;
			font-size: 1.5rem;
			line-height: 3;
			+ a {
				border-top: 1px solid white;
			}
		}
	}
}

nav {
		padding: 50px;
		display: flex;
		justify-content: flex-end;
		a {
			text-decoration: none;
			padding: 0 20px;
      + .seperator {
        color: #dddddd;
      }
		}
	}