*{
	margin:0;
	padding:0;
	font-family: 'PT Sans Narrow', sans-serif;
}
html,body{
	height: 100%;
	width: 100%;
}
/* change default style across all screens - start*/
h1{
	font-size: 2rem;
}
/* change default style across all screens - end*/
nav{
	padding: 10px 20px;
	height: 40px;
	box-shadow: 0px 0px 10px;
}
nav img{
    margin-top: 6px;
	height: 35px;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	padding: 10px 70px;
	transition: background 0.2s linear, color 0.2s linear;
	position: relative;
	color: rgba(101, 89, 89, 0.79);
    font-weight: 600;
}

nav ul li + li{
	border-left: 2px solid rgba(0, 0, 0, 0.22);
}
nav ul li:before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 5px;
    height: 2px;
    background: #C7C7C7;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: left, right;
    -moz-transition-property: left, right;
    -ms-transition-property: left, right;
    -o-transition-property: left, right;
    transition-property: left, right;
}
nav ul li:focus:before, nav ul li:hover:before {
    left: 8px;
    right: 8px;
}
section#page{
	position: relative;
	height: calc(100% - 45px);
}
section#page section#content{
	position: absolute;
	width:100%;
	height: 100%;
}
section#page section#content .main-page{
	height:100%;
	width:100%;
}
/* Home component - start*/
courses h1{
	text-align: center;
	padding: 5px 0;
	font-size: 2rem;
}
courses .search #search-text{
	width: 100%;
	font-size: 2rem;
	padding: 5px;
}
.course-list{
	
}
.course-list-item{
	height: 400px;
	width: 180px;
	background: #fff;
	display: inline-block;
	margin: 20px;
}
.course-list-item .course-list-item-image img{
	height: 100px;
	width: 180px;
}
.course-list-item .course-list-item-description{
	height: 290px;
	width: 170px;
	padding: 5px;
}
.course-list-item .course-list-item-description div{
	height: 240px;
	overflow: hidden;
}
.course-list-item .course-list-item-description .course-list-item-description-tags{
	height: 30px;
	border-top: 1px solid #ededed;
}
.course-list-item .course-list-item-description .course-list-item-description-tags ul li{
	display: inline-block;
    padding: 2px;
    background: #cee0ed;
    border-radius: 3px;
    margin: 3px;
    color: #616060;
}

/* Home component - end*/

#page-about-me{
	margin: 10px;
}
#page-about-me #cover-pic {
	width: 100%;
}
#page-about-me article p{
	text-indent: 50px;
	font: 1.5rem/1.5 arial;
}
#page-about-me header #social-link a{
	display: inline-block;
	width: 25%;
	text-align: center;
}
#page-about-me header #social-link a:hover{
	transform: scale(1.2,1.2);
	border-bottom: 1px solid #ededed;
}
/* About me component - start*/

